#wrapper{
	max-width: 500px;
	width: 100%;
	margin: auto;
}

body{
	background-color: #ffcb3d;
	font-family: 'Coming Soon', helvetica, sans-serif;
	font-weight: bolder;
	font-size: 1.3em;
	text-align: center;
}

a{
	text-decoration: none;
	color: #80c5e4;
}

#description{
	text-align: center;
}

iframe{
	width: 100%;
}
